/* Color and Font Variables */
:root {
    --orange: #eccca3;
    --yellow: #fcdc7b;
    --brown-red: #5c3026;
    --light-blue: #7094b7;
    --light-grey: #c6b3b0;
    --black: #3c3c44;

    --fs-xl: 2.5rem;
    --fs-l: 1.5rem;
    --fs-m: 1.25rem;
    --fs-s: 1rem;
    --fs-xs: .75rem;

    box-sizing: border-box;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Individual cards */
.cards {
    animation: fadeInAnimation ease .8s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Air cards only */
.air-card {
    text-align: center;
    border: solid;
    padding: 10px;
    margin-top: 100px;
    width: 285px;
    min-height: 300px;
    max-height: 400px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, .2);
    color: rgb(255, 255, 255);
    border: solid;
    border-radius: 10px;
    border-color: var(--brown-red);
    border-width: 3px;
    background-color: var(--orange);
    background-image: url('../images/airBGdark.png');
}

/* Air card links only */
.air-card > a {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px var(--brown-red);
    font-family: "Herculanum";
    text-decoration: none;
}

.earth-card {
    text-align: center;
    border: solid;
    padding: 10px;
    margin-top: 100px;
    width: 285px;
    min-height: 300px;
    max-height: 400px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, .2);
    color: white;
    border: solid;
    border-radius: 10px;
    border-color: rgb(10, 45, 10);
    border-width: 3px;
    background-color: var(--orange);
    background-image: url('../images/earthBG.png');
}

.earth-card > a {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px var(--brown-red);
    font-family: "Herculanum";
    text-decoration: none;
}

.mainindex-earth-pfp {
    margin-top: -80px;
    width: 230px;
    height: 230px;
    border-radius: 115px;
    border: solid;
    border-color: rgb(10, 45, 10);
    border-width: 4px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, .2);
}


.water-card {
    text-align: center;
    border: solid;
    padding: 10px;
    margin-top: 100px;
    width: 285px;
    min-height: 300px;
    max-height: 400px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, .2);
    color: rgb(255, 255, 255);
    border: solid;
    border-radius: 10px;
    border-color: rgb(27, 53, 65);
    border-width: 3px;
    background-color: var(--orange);
    background-image: url('../images/waterBGdark.png');
}

.water-card > a {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px var(--brown-red);
    font-family: "Herculanum";
    text-decoration: none;
}

.mainindex-water-pfp {
    margin-top: -80px;
    width: 230px;
    height: 230px;
    border-radius: 115px;
    border: solid;
    border-color: rgb(27, 53, 65);
    border-width: 4px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, .2);
}

.fire-card {
    text-align: center;
    border: solid;
    padding: 10px;
    margin-top: 100px;
    width: 285px;
    min-height: 300px;
    max-height: 400px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, .2);
    color: white;
    border: solid;
    border-radius: 10px;
    border-color: var(--brown-red);
    border-width: 3px;
    background-color: var(--orange);
    background-image: url('../images/fireBG.png');
}

.fire-card > a {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px var(--brown-red);
    font-family: "Herculanum";
    text-decoration: none;
}

.instructor-card {
    text-align: center;
    border: solid;
    padding: 10px;
    margin-top: 100px;
    width: 285px;
    min-height: 300px;
    max-height: 400px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, .2);
    color: white;
    border: solid;
    border-radius: 10px;
    border-color: var(--brown-red);
    border-width: 3px;
    background-color: var(--orange);
    background-image: url('../images/landing.png');
    background-size: contain;
}

.instructor-card > a {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px var(--brown-red);
    font-family: "Herculanum";
    text-decoration: none;
}


.mainindex-pfp {
    margin-top: -80px;
    width: 230px;
    height: 230px;
    border-radius: 115px;
    border: solid;
    border-color: var(--brown-red);
    border-width: 4px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, .2);
}

.mainindex-name {
    font-size: 1.75rem;
}

.mainindex-quote {
    font-size: var(--fs-s);
}