.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    text-align: center;
    border: solid;
    padding: 10px;
    margin: 10px;
    width: 300px;
    height: 400px
}

.pfp {
    width: 200px;
}