/* Color Variables */
:root {
    --orange: #dc8c24;
    --yellow: #fcdc7b;
    --brown-red: #5c3026;
    --light-blue: #7094b7;
    --light-grey: #c6b3b0;
    --black: #3c3c44;

    --fs-xl: 2.5rem;
    --fs-l: 1.5rem;
    --fs-m: 1.25rem;
    --fs-s: 1rem;
    --fs-xs: .75rem;

    box-sizing: border-box;
    background-image: url("/src/images/defaultBG.png");
}

.edit-page {
    background-color: var(--orange);
    margin: 0 auto;
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: center;
    justify-content: center;
    width: 950px;
    border: solid;
    border-width: 5px;
    border-color: var(--brown-red);
    border-radius: 20px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, .2);
}

.edit-forms {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 20px;
}

.edit-submit-btn {
    background-color: var(--brown-red);
    border: none;
    color: white;
    border-radius: 5px;
    font-size: var(--fs-m);
    margin-bottom: 10px;
    padding: 8px;
}

@media only screen and (max-width: 1000px) {
    .edit-page {
        width: auto;
        margin: 15px;
    }

    .edit-forms {
        display: grid;
        grid-template-columns: auto auto;
    }
}