.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("/src/images/landing.png");
  
  background-size: 100%;
  text-align: center;
  padding: 10px;
  margin: 10px;
  width: 80%px;
  height: 500px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
  color: white;
  border: solid;
  border-radius: 10px;
  border-color: var(--brown-red);
  background-color: var(--orange);
  font-size:x-large;
  color:black
}

.landing-welcome {
  text-align: center;
  padding: 10px;
  margin: 10px;
  width: 80%px;
  height: 100px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
  color: white;
  border: solid;
  border-radius: 10px;
  border-color: var(--brown-red);
  background-color: var(--orange);
  font-size: larger;
  color: g
}

.landing-quote {
  font-family: cursive;
}

.landing-date {
  margin-top: -20px;
  margin-bottom: 40px;
}