/* Color Variables */
:root {
  --orange: #dc8c24;
  --yellow: #fcdc7b;
  --brown-red: #5c3026;
  --light-blue: #7094b7;
  --light-grey: #c6b3b0;
  --black: #3c3c44;

  --fs-xl: 2.5rem;
  --fs-l: 1.5rem;
  --fs-m: 1.25rem;
  --fs-s: 1rem;
  --fs-xs: .75rem;

  box-sizing: border-box;
}

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--brown-red);
  color: white;
  font-size: var(--fs-l);
  text-decoration: none;
  border: solid;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, .2);
}

.navigation > a:visited, .navigation > a:link, .navigation > a:hover, .navigation > a:active {
  color: white;
  text-decoration: none;
}

.log {
  list-style: none;
  align-items: center;
  display: flex;
}

.logbtn {
  margin-right: .5rem;
  cursor: pointer;
}

.welcome-li {
  display: flex;
  align-items: center;
}